---
import Layout from '~/layouts/PageLayout.astro';
import Headline from '~/components/sermons/Headline.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

import { SITE } from 'astrowind:config';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline title="Contact Us" />

    <ContactUs
      id="contact"
      title="Send us a message!"
      action="https://api.web3forms.com/submit"
      method="POST"
      inputs={[
        {
          type: 'hidden',
          hidden: true,
          name: 'access_key',
          value: '9b312fa2-e99e-49f6-961d-8c040736ab29',
        },
        {
          type: 'hidden',
          hidden: true,
          name: 'redirect',
          value: `${SITE?.site}/thanks`,
        },
        {
          type: 'hidden',
          hidden: true,
          name: 'subject',
          value: 'Contact Form from Pleasant Home Website',
        },
        {
          type: 'hidden',
          hidden: true,
          name: 'from_name',
          value: 'phccgresham.org',
        },
        {
          type: 'text',
          required: true,
          name: 'name',
          label: 'Name',
          placeholder: 'Your Name',
        },
        {
          type: 'email',
          required: true,
          name: 'email',
          label: 'Email',
          placeholder: 'email@server.com',
        },
      ]}
      textarea={{
        label: 'Message',
        placeholder: 'What do you want to share?',
      }}
    />

    <!-- Features2 Widget ************** -->

    <Features2
      items={[
        {
          title: 'Phone',
          description: SITE?.phone,
          icon: 'tabler:phone',
        },
        {
          title: 'Email',
          description: `<a href="mailto:${SITE?.email}?subject=Contact from Pleasant Home Website">${SITE?.email}</a>`,
          icon: 'tabler:mail',
        },
        {
          title: 'Location',
          description: `${SITE?.address}<br />${SITE?.cityState}`,
          icon: 'tabler:map-pin',
        },
      ]}
    />
  </section>
</Layout>
