---
import { SITE } from 'astrowind:config';
import Layout from '~/layouts/PageLayout.astro';
import Features from '~/components/widgets/Features.astro';
import { Icon } from 'astro-icon/components';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Pleasant Home Community Church',
  ignoreTitleTemplate: true,
};

const featureHeadline = {
  headline: {
    title: 'text-4xl md:text-5xl ',
  },
};

const address = SITE?.address;
const cityState = SITE?.cityState;
const appleMaps = SITE?.appleMaps;
const googleMaps = SITE?.googleMaps;
---

<Layout metadata={metadata}>
  <!-- Welcome Widget ******************* -->
  <Content
    isReversed
    title="Welcome!"
    image={{
      src: '~/assets/images/phcc-front-building-crop-muted.webp',
      alt: 'Pleasant Home Community Church',
      height: 400,
    }}
  >
    <Fragment slot="content">
      <span class="text-xl">
        At Pleasant Home Community Church, we worship our Savior Jesus Christ, study His Word, and enjoy sweet
        fellowship with one another.<br /><br />Established in 1897, we have a long history of Biblical faithfulness
        which continues today through the expository preaching of God's Word.
      </span>
    </Fragment>
  </Content>

  <!-- Worship Services Widget ******************* -->

  <!-- Location Widget ******************* -->

  <Content
    title="Worship Services"
    image={{
      src: '~/assets/images/phcc-apple-maps-gray.png',
      alt: 'Pleasant Home Community Church Location on Map',
      height: 400,
    }}
  >
    <Fragment slot="content">
      <h3 class="text-xl font-bold tracking-tight dark:text-white sm:text-1xl mb-2">Sunday Morning</h3>
      9:00 am, 10:45 am<br /><br />
      <h3 class="text-xl font-bold tracking-tight dark:text-white sm:text-1xl mb-2">Location</h3>
      <span set:html={address} /><br /><span set:html={cityState} /><br /><br />
      <a href={appleMaps} target="_blank"><Icon name="tabler:brand-apple" class="w-5 h-5 inline" /></a>
      <a href={googleMaps} target="_blank"><Icon name="tabler:brand-google" class="w-5 h-5 inline" /></a>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-logo-b-l dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- What to Expect Widget ******************* -->

  <Features
    id="features"
    title="What to Expect"
    subtitle="When you visit one of our services, you will notice that we like to keep things simple. We are not about flashy church growth strategies or entertaining our members. We are about knowing God, making Him known, and enjoying the common salvation we have with the saints of Christ. We are a church that holds to the inerrancy, infallibility, and sufficiency of Scripture. We invite you to come and worship with us."
    columns={3}
    classes={featureHeadline}
    items={[
      {
        title: 'Friendly Believers',
        description: 'You will be greeted by a friendly group of believers.',
        icon: 'tabler:friends',
      },
      {
        title: 'Worship Music',
        description:
          'Worship will include a mixture of old hymns, modern hymns, and select contemporary worship music.',
        icon: 'tabler:music',
      },
      {
        title: 'Expository Teaching',
        description:
          'The preaching will be expository from the Bible, and you will be challenged, encouraged, and edified.',
        icon: 'tabler:bible',
      },
      {
        title: "Children's Church",
        description: "Children's Church is offered for Nursery (0-2yrs) through 5th grade.",
        icon: 'tabler:monkeybar',
      },
      {
        title: 'Casual Dress',
        description: 'Most members wear casual to dressy-casual attire.',
        icon: 'tabler:shirt-sport',
      },
      {
        title: 'Fellowship',
        description: 'After service, we invite you to stick around and fellowship with one another.',
        icon: 'tabler:heart-handshake',
      },
    ]}
  />
</Layout>
